.cartWidget {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.cartIcon {
    font-size: 3rem;
    color: #333;
    cursor: pointer;
}


.cartIcon:hover {
    color: #666;
}