@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.headerTitle {
    font-family: 'Bree Serif', serif;
}


.header{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.logo{
    justify-content: start;
    display: flex;
    align-items: center;
    /* max-height: 1.25rem; */
    gap: 1.3rem;
}

.headerRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

