@import "tailwindcss";

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

/* Estilos generales */

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}